@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>

Welcome to your new app.

@if(_recipeList is null)
{
    <p>Loading</p>
}
else
{
    <p>Ok</p>
}
