@page "/recipes/{recipeId:guid}"

<button @onclick="@(() => _navigationManager.NavigateTo("/"))">back</button>

<button @onclick="DeleteRecipeAsync">Delete</button>

@if(_recipeDetail is null)
{
    <p>Loading...</p>
}
else
{
    <PageTitle>@_recipeDetail.Name</PageTitle>

    <h1>@_recipeDetail.Name</h1>
}