@using Home.Recipes.WebClient.Services.Recipes
@using Home.Recipes.WebClient.Components.Buttons;
@using System.IO
@using System.Buffers
@using Tewr.Blazor.FileReader

@inject IFileReaderService fileReaderService;

<input type="file" @ref=inputTypeFileElement />
<button @onclick=ReadFile>Read file</button>

@code {
    private readonly RecipeService _recipeService;
    private ElementReference inputTypeFileElement;

    public UploadRecipeImageModal(RecipeService recipeService)
    {
        _recipeService = recipeService;
    }

    [Parameter]
    public Guid RecipeId { get; set; }

    [CascadingParameter]
    public BlazoredModalInstance BlazoredModal { get; set; } = default!;

    public async Task ReadFile()
    {
        foreach (var file in await fileReaderService.CreateReference(inputTypeFileElement).EnumerateFilesAsync())
        {
            using (MemoryStream memoryStream = await file.CreateMemoryStreamAsync(4096))
            {
                await _recipeService.UploadImageAsync(RecipeId, memoryStream);
            }
        }

        await BlazoredModal.CloseAsync();
    }

    private async Task Cancel() => await BlazoredModal.CancelAsync();
}